table.manageList td{
	height:30px;
	line-height:32px;
}
table.manageList{
    width:1300px;
/* 	width:19 */
	text-align:left;
	border-collapse: collapse;
}
table.manageList tr {
        line-height: 30px;
        border-color: #ccc;
}

table.manageList tr:hover {
	background-color: #e8e8e8;
}

table.manageList th {
	text-align: left;
    background-color:#f0f0f0;
    
}
table.manageList tr:nth-child(even) {
	background: #fbfbfb;
}

table.manageList tr:nth-child(even):hover {
	background-color: #e8e8e8;
}
    
#cmbcList{
	margin-left: 60px;
}
#cmbcListIndex{
	margin-left: 60px;
	width:1302px;
/* 	width:100%; */
	border-color: #f0f0f0;
    border: solid 1px #cbcbcb;
	/* 设置圆角 */
	border-radius:7px;
}
h1{
	margin-left: 30px;
}
#featuresManage{
	float:right;
	margin-right:100px;
}
#featuresManage input{
	padding:5px 10px;
	margin:10px;
	background-color:#ffffff;
	border-color:#cdcdcd;
	border-style: solid;
	border-width: thin;
}
#featuresManage input:hover{
   background-color: #008CBA;
   color: white;
   cursor:pointer;
}
#manageAdd{
	margin-left: 200px;
	width:500px;
}
#manageAdd td{
/* 	margin:15px 10px; */
	padding:10px 10px;
	line-height:32px;
}
#manageJobAssoc{
	margin-left: 300px;
/* 	width:580px; */
}
#manageJobAssoc td{
/* 	margin:15px 10px; */
	padding:10px 10px;
	line-height:22px;
}
.assctionJob{
	border: solid 1px #cbcbcb;
	float:left;
	cursor:pointer;
}
#assctionYamls{
	border: solid 1px #cbcbcb;
	float:left;
	cursor:pointer;
/* 	width:600px; */
/* 	height:230px; */
}
.listJob{
	width:200px;
	height:30px;
	border: solid 1px #cbcbcb;
	margin:10px 10px;
	text-align:center ;
	line-height:20px;
	float:left;
	cursor:pointer;
	padding:5px 10px;
	overflow:hidden;
}
.listYaml{
/* 	width:120px; */
	width:200px;
	height:30px;
	border: solid 1px #cbcbcb;
	margin:10px 10px;
	text-align:center ;
	line-height:20px;
	float:left;
	padding:5px 10px;
	cursor:pointer;
	overflow:hidden;
}
.listJob:hover{
   background-color: #008CBA;
   	color: white;
    cursor:pointer;
}
.curreYamls{
	cursor:pointer;
	overflow:hidden;
/* 	width:120px; */
}
.yamls{
	float:left;
/* 	border: solid 1px #cbcbcb;	 */
	width:200px;
	margin-left:50px;
}
.submits input{
	width:100px;
	height:50px;
	padding:5px 10px;
	margin:10px;
	background-color:#ffffff;
	border-color:#cdcdcd;
	border-style: solid;
	border-width: thin;
	cursor:pointer;
}
.submits input:hover{
   background-color: #008CBA;
   color: white;
   cursor:pointer;
}
#currentYamls{
	float:left;
	width:200px;
	border: solid 1px #cbcbcb;	
	margin-left:70px;
	overflow:hidden;
}
.imgYamls{
	float:left;
	width:50px;
	height:30px;
	margin-top:10px;
	cursor:pointer;
}
input[type="text"],[type="password"]{
	width:100%;
    color:#333;
    line-height:normal;
    font-family:"Microsoft YaHei",Tahoma,Verdana,SimSun;
    font-style:normal;
    font-variant:normal;
    font-size-adjust:none;
    font-stretch:normal;
    font-weight:normal;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    padding-top:4px;
    padding-right:4px;
    padding-bottom:4px;
    padding-left:4px;
    font-size:15px;
    outline-width:medium;
    outline-style:none;
    outline-color:invert;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    text-shadow:0px 1px 2px #fff;
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position-x:left;
    background-position-y:top;
    background-size:auto;
    background-origin:padding-box;
    background-clip:border-box;
    background-color:rgb(255,255,255);
    margin-right:8px;
    border-top-color:#ccc;
    border-right-color:#ccc;
    border-bottom-color:#ccc;
    border-left-color:#ccc;
    border-top-width:1px;
    border-right-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;   
}